body {
  margin: 0;
  font-family: monospace;
}

#shoe-header {
  display: flex;
  justify-content: center;
  background: pink;
  opacity: .8;
  height: 7rem;
  padding: 1rem;
}

#shoe-header img {
  height: 6rem;
  width: auto;
}

#welcome {
  font-size: x-large;
  font-family: cursive;
}

#shoe-collection {
  margin: 2rem;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52
}

.shoe-avatar {
  justify-self: center;
  height: 12rem;
  width: auto;
}

button {
  position: relative;
  background-color: hotpink;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: whitesmoke;
  font-size: 24px;
  font-family: cursive;
  justify-self: center;
}

button:hover {
  background-color: whitesmoke;
  border: hotpink solid 1px;
  color: hotpink;
}

#new-user-form-container {
  padding: 1rem;
  width: stretch;
  height: auto;
  display: none;
  background: pink;
  opacity: .8;
}

#new-or-old-user {
  display: none;
  font-family: cursive;
  font-size: x-large;
}

#create-header {
  font-family: cursive;
}

.add-shoe-form {
  width: 80%
}

.submit {
  position: relative;
  background-color: hotpink;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  font-family: cursive;
  margin: 3px;
}

.submit:hover {
  background-color: whitesmoke;
  border: hotpink solid 1px;
  color: hotpink;
}


.input-text {
  border-radius: 5px;
  height: 2rem;
  width: 60%;
  font-size: 18px;
  font-family: cursive;
  margin: 3px;
}
